<!DOCTYPE html>
<html>
  <head>
    <title>setti</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <script src="../../socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/site.css">
    <link rel="icon" href="/images/favicon.ico">
  </head>
  <body>
        <div class="gamecontainer">
            <div class="content">
                <section> <img src="/images/favicon.ico" height="256px" width="256px"
                    class="image6" /> </section>
              </div>
        </div>
        <div class="chatcontainer">
            <ul id="messages"></ul>
            <form action="/" method="POST" id="chatForm">
                <input id="txt" autocomplete="off" autofocus="on" oninput="isTyping()" placeholder="type your message here..." /><button class="">Send</button>
            </form>
        </div>
        <script>
                var socket = io.connect();
                var username = "notassigned";
                // submit text message without reload/refresh the page
                $('form').submit(function(e){
                    e.preventDefault(); // prevents page reloading
                    if (username == "notassigned") {
                        username = $('#txt').val();
                        $('#txt').val('');
                        socket.emit('username', username);
                    } else if ($('#txt').val() == "") {
                    } else {
                        socket.emit('chat_message', $('#txt').val());
                        $('#txt').val('');
                    }
                    return false;
                });
                // append the chat text message
                socket.on('chat_message', function(msg){ 
                  $('#messages').append($('<li>').html(msg)); 
                  $("html, body").animate({ scrollTop: 200000 });
                });
                // append text if someone is online
                socket.on('is_online', function(username) { $('#messages').append($('<li>').html(username)); });
        </script>
  </body>
</html>