* { 
    font-family: 'Raleway', sans-serif;
    margin: 0; 
    padding: 0; 
    /* box-sizing: border-box;  */
}
html {height: 100%; background-color: rgb(224, 223, 223);}
body { 
    height: 100%;
    font: 14px Helvetica, Arial; 
    /* overflow: hidden; */
}
        
form { 
    background: #fff; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
        
form input { 
    border-style: solid; 
    border-width: 1px; 
    border-radius: 4px;
    padding: 10px; 
    width: 20%; 
}
form input:focus { 
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6); 
}     
form button { 
    height: 38px;
    background: rgb(243, 222, 104); 
    border: none; padding: 6px; 
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
}

ul {
    background-color: rgb(247, 247, 247);
}

.gamecontainer {
    width:75%;
    float:left;
    position: fixed;
    height: 100%;
}

.chatcontainer {
    text-align:left;
    background-color: rgb(224, 223, 223);
    position: absolute;
    width: 252px;
    height: 100vh;
    right: 0;
    z-index: 99999;
} 

.content {
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    align-content: center;
    background: rgb(199, 199, 199);
  }

  .image6 {
    margin: 10px;
    clip-path: circle(45%);
    animation: clipUp6 2s infinite alternate;
  }

  @keyframes clipUp6 {
    from {
      clip-path: circle(10%);
    }
    to {
      clip-path: circle(45%);
    }
  }

#chatForm {
    /* width: 100%; */
    /* position: fixed; */
    /* width:248px; */
    bottom: 0px;
    padding: 2px;
}

.userlistbox {
    position: fixed;
    right: 0;
    /* width: 74px; */
    /* height: 68px; */
    display: flex;
    flex: content;
    flex-grow: 1;
    flex-direction: column;
    margin: 10px;
    padding: 16px;
    background-color: rgb(241, 241, 241);
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 8px;
    z-index: 999;
}

#userlist {
    list-style-type: none; 
    float:right;
    margin: 4px;
    /* position: fixed; */
    overflow: auto;
    /* width: inherit; */
    background-color: rgba(255, 255, 255, 0);
}

#chatwrapper {
    position: fixed;
    right: 0;
    bottom: calc(0px + 42px);
    max-height: calc(100% - 42px);
    display: flex;
    flex: content;
    flex-grow: 1;
    flex-direction: column;
}

#messages { 
    width:252px;
    position: static;
    list-style-type: none; 
    height: calc(100% - 42px);
    /* max-height: 200px; */
    padding: 0; 
    overflow: auto;
    overflow-x: hidden;
    bottom: 0;
} 


#messages li { 
    /* position: absolute; */
    display: block;
    padding: 5px 10px; 
    bottom: 0;
    /* left: 0; right: 0; */
}

.consolemessages {
    color: #e66938
}



#messages li:nth-child(odd) { 
    background: #eee; 
}
    @media only screen and (max-width: 440px) {
        #messages {
            height: calc(100% - 42px);
        }
        .gamecontainer {
            width:30%;
            min-width: 50vw;
            float:left;
            text-align:left;
            position: fixed;
            left: -20px;
        }
        .chatcontainer {
            height: 100%;
            min-height: 100%;
            text-align:left;
            background-color: rgb(224, 223, 223);
            position: fixed;
            right: 0;
        }
        form input { width: 144px; }
        form button { width: 76px; }
    }
    @media only screen and (min-width: 440px) {
        .gamecontainer {width:60%;left: -20px;}
        form input {  width: 144px; }
        form button { width: 76px; }
    }
    @media only screen and (min-width: 575px) {
        .gamecontainer {width:77%;left: -20px;}
    }
    @media only screen and (min-width: 1000px) {
        .gamecontainer {width:75%;}
        #messages { width: 362px;}
        #chatform { width: 362px;}
        form input {  width: 260px; }
        form button { width: 70px; }
        .chatcontainer { width: 362px; }

    }
    @media only screen and (min-width: 1200px) {
        .gamecontainer {width:77%;}
    }
    @media only screen and (min-width: 1440px) {
        .gamecontainer {width:82%;}
    }
    @media only screen and (min-width: 1820px) {
        .gamecontainer {width:84%;}
    }

/* width */
::-webkit-scrollbar {
width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(168, 168, 168);
border-radius: 6px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}